name: JuliaFormatter suggestions
on:
  pull_request:
jobs:
  code-style:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: julia-actions/julia-format@v4
        with:
          version: '2.2' # Set `version` to '1.0.54' if you need to use JuliaFormatter.jl v1.0.54 (default: '1')